{% extends "base.html" %}

{% block content %}

<div id="log-list">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>預約日期</th>
        <th>座位編號</th>
        <th>預約人</th>
        <th>登計時間</th>
        <th>簽到時間</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for log in log_list %}
      <tr>
        <td>{{ log.reserve_date|date:"Y/m/d" }}</td>
        <td>
          <a href="{% url 'seat_view' log.seat.id %}">
            {{ log.seat.SerialNumber }}
          </a>
        </td>
        <td>
          <a href="{% url 'user_view' log.user.id %}">
            {{ log.user.first_name }}
          </a>
        </td>
        <td>{{ log.checkout|date:"Y/m/d H:i" }}</td>
        <td>{{ log.returned|date:"Y/m/d H:i" }}</td>
        <td><a href="{% url 'log_delete' log.id %}" class="btn btn-sm btn-danger">
          <i class="fas fa-trash"></i> 刪除</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include "pagination.html" %}
{% endblock %}