{% extends "base.html" %}

{% block content %}
{% if user.is_superuser %}
<div class="mb-1">
  <a href="{% url 'seat_add' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-plus">新增座位</i> 
  </a>
</div>
{% endif %}
  {% for seat in seat_list %}

  <div class="card" style="width: 10rem;">
    <ul class="list-group list-group-flush">
      <div class="card-body">
        <div class="card-title">
          座位編號:  
          <a href="{% url 'seat_view' seat.id %}">{{ seat.SerialNumber }}</a>
        </div>
      </div>
    </ul>
  </div>


  {% endfor %}
</div>
{% include "pagination.html" %}
{% endblock %}