{% extends "base.html" %}

{% block content %}
<p>歡迎光臨K中劃位系統！</p>

{% if user.is_authenticated %}
{% else %}

<p>請先<a href="{% url 'login' %}">登入</a>以進行更多操作 <br>
    各班導師可查看該班學生留校狀況 帳號: cteacher+班級 ex: cteacher205<br>
    K中值班老師可進行點名 帳號: kteacher <br>
    學生可新增或刪除劃位紀錄 帳號: student+班級座號 ex: student20506<br>
    教務處教學組組長可管理使用者帳號、新增或刪除K中座位 帳號: scoc <br>
    預設密碼皆為: x123456y/<br><br>
</p>


{% endif %}
{% if "kteacher" in user.username %}
<p>可進行教師點名</p>
{% elif "cteacher" in user.username %}
<p>可查看該班留校狀況</p>
{% elif "student" in user.username %}
<p>可新增或刪除劃位記錄</p>
{% elif "scoc" in user.username %}
<p>可管理使用者帳號、新增或刪除K中座位 </p>
{% endif %}


<img src="media/座位表.png" alt="" >

{% endblock %}